NUXT_PUBLIC_API_BASE=http://localhost:8080
NUXT_PUBLIC_GITALK_CLIENT_ID=
NUXT_PUBLIC_GITALK_CLIENT_SECRET=
NUXT_PUBLIC_GITALK_REPO=
NUXT_PUBLIC_GITALK_OWNER=
NUXT_PUBLIC_GITALK_ADMIN=
NUXT_PUBLIC_GITALK_PROXY=
